__pycache__
AU_Recognition/__pycache__
AU_Recognition/models/__pycache__
AU_Recognition/data
AU_Detection/__pycache__
AU_Detection/models/__pycache__
AU_Detection/data
Facial_Expression_Recognition/__pycache__
Facial_Expression_Recognition/models/__pycache__
libreface/AU_Recognition/__pycache__
libreface/AU_Recognition/models/__pycache__
libreface/AU_Recognition/data
libreface/AU_Detection/__pycache__
libreface/AU_Detection/models/__pycache__
libreface/AU_Detection/data
libreface/Facial_Expression_Recognition/__pycache__
libreface/Facial_Expression_Recognition/models/__pycache__
libreface/Facial_Expression_Recognition/data
libreface/AU_Detection/weights/
libreface/AU_Recognition/weights/
libreface/Facial_Expression_Recognition/weights/
weights_libreface/
build/
dist/
*.egg-info/*
*.DS_Store