__pycache__
AU_Recognition/__pycache__
AU_Recognition/models/__pycache__
AU_Recognition/data
AU_Detection/__pycache__
AU_Detection/models/__pycache__
AU_Detection/data
Facial_Expression_Recognition/__pycache__
Facial_Expression_Recognition/models/__pycache__
src/AU_Recognition/__pycache__
src/AU_Recognition/models/__pycache__
src/AU_Recognition/data
src/AU_Detection/__pycache__
src/AU_Detection/models/__pycache__
src/AU_Detection/data
src/Facial_Expression_Recognition/__pycache__
src/Facial_Expression_Recognition/models/__pycache__
src/Facial_Expression_Recognition/data
build/
dist/
*.egg-info/*